#wrap > .container {
    padding-top: 170px;
}

header > .navbar {
    background-color: #043554;
}

header > .navbar-default .navbar-brand {
    color: #B4B4B4;
}

h5, .h5 {
    font-size: 26px;
}

.hljs {
    background: transparent;
}

.example-container {
    overflow: hidden;
}

@media (min-width: 768px) {
    #wrap > .container {
        padding-top: 60px;
    }
}